<!-- הצגת פרסומות זזות -->
<div>
<div class="div1">
    <div class="text-container">
      <p>פירות וירקות טריים היישר מהשדה</p>
      <p>איסוף עצמי חינם 7–10 ימי עסקים.</p>
      <p>משלוח חינם עד הבית בקנייה מעל 199 ₪ | 3-5 ימי עסקים</p>
    </div>
  </div>
  <br>
  <!-- ניתובים  -->
<div class="navbar">
    <div class="d">
    <a routerLink="./product" class="n"> המוצרים שלנו  </a>
    <a routerLink="" ><img class="i" src="14/111.jpg"></a>
    <a routerLink="./carting" class="n"> סל הקניות</a>
    <!-- הצגת האייקון של התחברות -->
</div>
    <p class="log"><app-login></app-login></p>
</div>

